*{
    box-sizing: border-box;
}
.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: black;
    color: rgb(255, 255, 255);
}
header{
    height: 90vh;
    background-image: url("Fondos/fondo2.jpg");
    background-position-y: -5em;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
section{
    padding: 1.2em 4em 1.2em 4em;
    background-color: rgb(71, 109, 138);
    font-size: 1.5em;
}
footer{
    background-color: rgb(41, 41, 41);
    padding: 1em 0 1em 0;
}
.subtitle{
    font-family: 'Big Shoulders Text';
    color: rgb(0, 255, 242);
    font-size: 1.3em;
}
.title{
    font-family: 'Lobster';
}
div{
    font-family: 'Sunshiney';
    color: rgb(255, 255, 255);
}
h1{
    width: 14em;
    border: 2px dotted;
    padding: .3em;
    border-radius: .6em;
    margin: auto;
    transform: scale(1.7,1.7);
    box-shadow: 10px 10px 7px 3px rgba(0,0,0,0.8);
}
div.title{
    color: rgb(0, 255, 242);
    padding-top: 40vh;
}
.iconosNeon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@keyframes ocultar{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
#github:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#instagram:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#gmail:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#facebook:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#twitter:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
hr{
    background-color: rgb(0, 255, 242);
    border-color: rgb(0, 255, 242);
    border-radius: 50%;
    height: 1mm;
    margin: 1.3em 0 1.3em 0;
}
li{
    list-style-type: none;
}
li::before{
    content: "►";
    float: left;
    width: 1.5em;
    font-size: .6em;
    padding-top: .5em;
    color: rgb(0, 255, 242);
}
.cajas{
    border-color: rgb(0, 255, 242);
    border-style: dashed;
    background-color: transparent;
    border-width: .5mm;
    font-family: 'Sunshiney';
    font-size: .9em;
}
.botones{
    display: flex;
    flex-direction: column;
}
.botones input:hover,.botones button:hover{
    animation: botones 1s;
}
@keyframes botones{
    from{
        color: rgb(255, 255, 255);
        border-color: rgb(0, 255, 242);
        transform: scale(1.2,1.2);
    }
    to{
        color: rgb(0, 255, 242);
        border-color: rgb(255, 255, 255);
        transform: scale(1,1);
    }
}
@media screen and (max-width:400px){
    .contenedor{
        margin: 0;
        width: 100%;
    }
    .fondo{
        top: 0;
        width: 100vw;
    }
    h1{
        transform: scale(.6,.6);
        position: absolute;
        top: 0;
        left: 0;
    }
    header{
        height: 40vh;
    }
    div.title{
        margin: auto;
        padding-top: 15vh;
    }
}