:root{
    --colorFondo: rgb(71, 109, 138);
    --colorPrimario: white;
    --colorSecundario: rgb(0, 255, 242);
    --colorFondo2: rgb(41, 41, 41);
    --transparencia: rgba(0, 0, 0, .3);
}
body{
    margin: 0;
    background-color: var(--colorFondo2);
}
/* Header */
.fondo{
    filter: blur(1.5px);
    z-index: -1;
}
.title{
    font-family: 'Lobster';
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    border: .08em dotted;
    padding: .5em;
    border-radius: .7em;
    box-shadow: 10px 10px 7px 3px black;
    color: var(--colorSecundario);
    position: absolute;
    width: 13.1em;
    z-index: 1;
    font-size: 3.5em;
    margin: 0;
}
/* Midth */
section.midth{
    display: flex;
    flex-direction: row;
    background-color: var(--colorFondo);
    font-family: 'Sunshiney';
    color: var(--colorPrimario);
}
/* Nav */
nav{
    box-sizing: border-box;
    padding: 2%;
    width: 30%;
    background-color: var(--transparencia);
    font-size: 1.3em;
}
nav.menu ul{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
nav.menu li{
    margin-bottom: 7%;
}
a{
    color: var(--colorPrimario);
    text-decoration: none;
}
/* Article */
article{
    width: 70%;
    box-sizing: border-box;
    margin: 2%;
    font-size: 1.5em;
}
.subtitle{
    font-family: 'Big Shoulders Text';
    color: rgb(0, 255, 242);
    font-size: 1.6em;
}
hr{
    background-color: rgb(0, 255, 242);
    border-color: rgb(0, 255, 242);
    border-radius: 50%;
    height: 1mm;
    margin: 1.4em 0 1.4em 0;
}
.lista ul, ul.lista{
    padding-top: 5%;
    padding-left: 15%;
    margin: 0;
}
.lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
li::before{
    content: "►";
    float: left;
    width: 1.3em;
    font-size: .6em;
    padding-top: 0.5em;
    color: var(--colorSecundario);
}
form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.botones{
    display: flex;
    flex-direction: row;
}
.cajas{
    border-color: var(--colorSecundario);
    border-style: dashed;
    background-color: transparent;
    border-width: .1em;
    font-family: 'Sunshiney';
    font-size: .9em;
    color: var(--colorPrimario);
}
input[class="cajas"], button[class="cajas"]{
    height: 1.7em;
}
span.botones input[class="cajas"]:hover, span.botones button[class="cajas"]:hover{
    animation: botones 1s;
}
/* Aside */
aside{
    box-sizing: border-box;
    width: 30%;
    padding: 2%;
    background-color: var(--transparencia);
    font-size: 1.3em;
}
/* Footer */
footer{
    background-color: rgb(41, 41, 41);
    padding: 12px 0 12px 0;
}
.iconosNeon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#github:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#instagram:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#gmail:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#facebook:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
#twitter:hover{
    animation-name: ocultar;
    animation-duration: .8s;
    opacity: 0;
}
/* Developer */
@keyframes ocultar{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes botones{
    from{
        color: var(--colorPrimario);
        border-color: var(--colorSecundario);
        transform: scale(1.3,1.3);
    }
    to{
        color: var(--colorSecundario);
        border-color: var(--colorPrimario);;
        transform: scale(1,1);
    }
} 
/* Responsive */
@media screen and (max-width: 1340px){
    .botones{
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 1000px){
    h1{
        transform: scale(.7,.7);
    }
}
@media screen and (max-width: 940px){
    .lista{
        flex-flow: column nowrap;
    }
}
@media screen and (max-width: 800px){
    .botones{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width: 650px){
    h1{
        transform: scale(.6,.6);
    }
}
@media screen and (max-width: 600px){
    h1{
        transform: scale(.5,.5);
    }
    section.midth{
        flex-direction: column;
        align-items: center;
    }
    article{
        order: -1;
        width: 90%;
    }
    nav{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    h1{
        transform: scale(.4,.4);
    }
    form{
        flex-flow: column nowrap;
        align-items: center;
    }
}
@media screen and (max-width: 375px){
    h1{
        transform: scale(.35,.35);
    }
}
@media screen and (max-width: 320px){
    h1{
        /* transform: scale(.3,.3); */
    }
}